.designationadd-admin {
    display: flex;
    justify-content: center;
    margin: 0;
    background-color: #f0f0f0; 
}

.designation-container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 100%;
    max-width: 400px; 
    text-align: center;
    box-sizing: border-box; 
}

.designation-form {
    display: flex;
    flex-direction: column;
}

.designationadd-admin .form-group {
    display: flex;
    flex-direction: column; 
    width: 100%;
}

.designationadd-admin label {
    margin-bottom: 5px; 
    font-weight: bold;
    font-size: 1.5em; 
}

.input-button-container {
    display: flex; 
    align-items: center;
    width: 100%; 
}

.designationadd-admin input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    transition: box-shadow 0.3s;
    flex-grow: 1; 
    margin-right: 10px; 
}

.designationadd-admin input:focus {
    border-color: #4CAF50; 
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}

.designationadd-admin .add-button {
    padding: 10px 15px;
    background-color: #3336da; 
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 1rem; 
}

.designationadd-admin .add-button:hover {
    background-color: #4f8ce1; 
}


@media (max-width: 600px) {
    .input-button-container {
        flex-direction: column; 
    }

    .designationadd-admin input {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .designationadd-admin .add-button {
        width: 100%; 
    }
}
